@*
GaussianSolirteNoise.tmpl

Created by Graham Dennis on 2008-11-11.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Features.Noises.Solirte.SolirteNoise

@def description: Solirte Gaussian (Ziggurat method) noise
@attr $noiseDistribution = 'gaussian'

@def makeNoises
  @#
${generatorName}->RandFill_gaussian_FP64(_noise_vector, _n);
const real _sigma = sqrt(_var);
#pragma ivdep
for (long _i0 = 0; _i0 < _n; _i0++)
  _noise_vector[_i0] *= _sigma;
  @#
@end def
