@*
MathematicaImport.tmpl

Created by Joe Hope on 2009-1-7.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.xsil2graphicsParser

@def description: Creates text to import data from XSIL files into Mathematica.

@def loadXSILObjectMathematica($xsilObject)

Wow.  Wowee

@# If only this worked properly
@end def

