@*
OctaveImport.tmpl

Created by Lincoln Turner on 2011-02-01.
Modified by Gregory Bogomiagkov and Liam Madge on 2013-07-18.
Copyright (c) 2011 Monash University. All rights reserved.
Copyright (c) 2013 Graham Dennis.
*@
@extends xpdeint.xsil2graphics2.MatlabOctaveImport

@def description: Creates text to import data from XSIL files into GNU Octave.
@attr $name = 'Octave'

@def handleHDF5XSILObject(objectNum, xsilObject)
  @set $filename = xsilObject.data.filename
  @set $variables = xsilObject.independentVariables[:]
load ${filename}
  @for var in variables:
    @set varName = var["name"].replace('_', '') + str(objectNum + 1)
${varName} = _${objectNum+1}.${var.name};
  @end for
@end def

