@*
UniformMKLNoise.tmpl

Created by Graham Dennis on 2007-12-12.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Features.Noises.MKL.MKLNoise

@def description: Uniform (MKL) noise
@attr $noiseDistribution = 'uniform'

@*
  Make noises
*@
@def makeNoises
  @#
vdRngUniform(VSL_METHOD_DUNIFORM_STD, ${generatorName}, _n, _noise_vector, 0.0, 1.0);
  @#
@end def
