@*
dSFMTNoise.tmpl

Created by Graham Dennis on 2008-03-05.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Features.Noises.Noise

@from xpdeint.CallOnceGuards import callOnceGuard
@import random

@attr uselib = ['dsfmt']

@def description: Generic dSFMT noise
@def generatorType: dsfmt_t*

@@callOnceGuard
@def static_includes
  @#
  @super
  @#
#define DSFMT_DO_NOT_USE_OLD_NAMES
#if CFG_HAVE_SSE2
  #define HAVE_SSE2
#elif CFG_HAVE_ALTIVEC
  #define HAVE_ALTIVEC
#endif

#define DSFMT_MEXP 19937

#include <dSFMT/dSFMT.h>
#include <dSFMT/dSFMT.c>
  @#
@end def

@def initialiseSeeds
  @#
  @set $featureOrdering = ['Driver']
  @silent seedOffset = $insertCodeForFeatures('seedOffset', $featureOrdering)
  @#
  @if not len($seedArray)
    @set self.generatedSeeds = [random.randrange(0, pow(2, 31)) for i in xrange(3)]
    @set seedArray = self.generatedSeeds
  @end if
  @#
  @set $seedString = ', '.join([str(seed)+seedOffset for seed in $seedArray])
  @#
uint32_t _${prefix}_seeds[${len($seedArray)}] = { $seedString };
${generatorName} = (dsfmt_t *)xmds_malloc(sizeof(dsfmt_t));
dsfmt_init_by_array(${generatorName}, _${prefix}_seeds, ${len($seedArray)});
  @#
@end def
