@*
ConstantEXOperator.tmpl

Explicit-picture transverse derivative operator

Created by Graham Dennis on 2007-10-20.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Operators._EXOperator

@def description: EX transverse derivative operator for field $field.name
@attr $operatorKind = _EXOperator.OtherOperatorKind
@attr $calculateOperatorFieldFunctionArguments = []

@def insideCalculateOperatorFieldLoops
  @#
// ************** Operator code *****************
${insertUserCodeFromEntity($operatorDefinitionCodeEntity)}@slurp
// **********************************************
  @#
@end def

@def insideEvaluateOperatorLoops
  @#
  @for $operatorComponentNumber, ($operatorComponentName, $operatorComponentVectors) in enumerate($operatorComponents.iteritems())
    @for $targetVectorComponents in $operatorComponentVectors.itervalues()
      @for $targetVectorComponent in $targetVectorComponents
// ${operatorComponentName}[$targetVectorComponent]
_${operatorComponentName}_${targetVectorComponent} = $operatorComponentName * $targetVectorComponent;
      @end for
    @end for
  @end for
  @#
@end def