@*
CrossPropagationOperator.tmpl

Created by Graham Dennis on 2008-03-01.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Operators._CrossPropagationOperator

@def description: Cross propagation operator field $field.name in dimension '${propagationDirection}${propagationDimension}'

@def evaluateOperatorFunctionContents($function)
  @#
${crossPropagationIntegrator.functions['segment'].call(parentFunction=function)}
  @#
@end def

