@*
POSIXNoise.tmpl

Created by Graham Dennis on 2007-12-11.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Features.Noises.Noise

@import random

@def description: Generic POSIX noise
@def generatorType: unsigned short*

@*
  Globals
*@
@def globals
  @#
  @super
  @#
unsigned short ${generatorName}[3];
  @#
@end def

@*
  Initialise seeds
*@
@def initialiseSeeds
  @#
  @set $featureOrdering = ['Driver']
  @silent seedOffset = $insertCodeForFeatures('seedOffset', $featureOrdering)
  @#
  @if len($seedArray)
    @for $i in range(3)
      @if $i < len($seedArray)
${generatorName}[$i] = ${seedArray[$i]}${seedOffset};
      @else
${generatorName}[$i] = 0${seedOffset};
      @end if
    @end for
erand48(${generatorName});
  @else
    @set self.generatedSeeds = [random.randrange(0, pow(2, 16)) for i in range(3)]
    @for $i in range(3)
${generatorName}[$i] = ${generatedSeeds[$i]}${seedOffset};
    @end for
  @end if
  @#
@end def
