@*
BesselDimensionRepresentation.tmpl

Created by Graham Dennis on 2009-08-11.

Copyright (c) 2009-2012, Graham Dennis

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*@
@extends xpdeint.Geometry.NonUniformDimensionRepresentation

@attr $instanceAttributes = ['_maximum', '_order', '_weightOrder']

@attr $orderOffset = 0

@def besselJFunctionCall($order, $argument)
  @if $order in [0, 1]
j${order}($argument)@slurp
  @else
jn(${order}, ${argument})@slurp
  @end if
@end def

@def gridAndStepAtIndex($index)
  @#
const real besselFactor = ${besselJFunctionCall($_weightOrder, c'_besseljzeros_${parent.name}[${index}]')};
const real ${name}_max = ${_maximum};
  @#
  @super(index)
  @#
@end def

@def gridAtIndex($index)
  @#
(_besseljzeros_${parent.name}[$index] / _besseljS_${parent.name}) * ${name}_max@slurp
  @#
@end def

@def stepWeightAtIndex($index)
  @#
2.0 / (besselFactor * besselFactor * _besseljS_${parent.name} * _besseljS_${parent.name}) * ${name}_max * ${name}_max@slurp
  @#
@end def

@def indexForSinglePointSample
  @#
  @# Take the first point, which is close to r=0
0@slurp
  @#
@end def

@def createCoordinateVariableForSinglePointSample
  @#
${type} ${name} = ${arrayName}[0];
#define d${name} (${stepSizeArrayName}[0] * (${volumePrefactor}))
  @#
@end def
