@*
DoubleDimension.tmpl

Created by Graham Dennis on 2008-03-19.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Geometry.Dimension

@attr $type = 'double'

@def definesWithPrefix($prefix)
  @#
  @super($prefix)
  @#
#define ${prefix}_d${name}  (($maximum - $minimum)/(${type})${prefix}_lattice_${name})
#define ${prefix}_lattice_k${name} ${prefix}_lattice_${name}
#define ${prefix}_min_k${name} (-(${prefix}_lattice_${name}/2) * ${prefix}_dk${name})
#define ${prefix}_max_k${name} ((${prefix}_lattice_${name} - 1)/2) * ${prefix}_dk${name}
#define ${prefix}_dk${name} (2.0*M_PI/($maximum - $minimum))
  @#
@end def
