@*
FieldElement.tmpl

Created by Graham Dennis on 2007-08-28.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Geometry._FieldElement

@*
  Description of template
*@
@def description: field $name

@*
  Defines needed at the start of the simulation
*@
@def defines
  @#
  @super
  @#
#define _${name}_ndims ${len($dimensions)}

  @# Child defines will go here
@end def

