@*
GeometryElement.tmpl

Created by Graham Dennis on 2007-08-28.
Copyright (c) 2007-2008 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Geometry._FieldElement

@*
  Description of template
*@
@def description: Geometry
@attr $name = "geometry"
@attr $globalNameSpaceName = "geometry"

