@*
SphericalBesselDimensionRepresentation.tmpl

Created by Graham Dennis on 2009-08-11.

Copyright (c) 2009-2012, Graham Dennis

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*@
@extends xpdeint.Geometry.BesselDimensionRepresentation

@from xpdeint.CallOnceGuards import callOnceGuard

@attr $uslib = ['gsl']

@attr $orderOffset = 0.5

@@callOnceGuard
@def includes
  @#
#include <gsl/gsl_sf_bessel.h>
  @#
@end def

@def besselJFunctionCall($order, $argument)
sqrt(1.0/M_PI_2) * @slurp
  @if $order in [0, 1, 2]
gsl_sf_bessel_j${order}($argument)@slurp
  @else
gsl_sf_bessel_jl($order, $argument)@slurp
  @end if
@end def

@def stepWeightAtIndex($index)
  @#
2.0 / (besselFactor * besselFactor * _besseljS_${parent.name} * _besseljS_${parent.name} * _besseljS_${parent.name}) * ${name}_max * ${name}_max * ${name}_max@slurp
  @#
@end def
