@*
UniformDimensionRepresentation.tmpl

Created by Graham Dennis on 2008-07-31.

Copyright (c) 2008-2012, Graham Dennis

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*@
@extends xpdeint.Geometry._UniformDimensionRepresentation

@def defines
  @#
  @super
  @if $silent
    @stop
  @end if
  @#
#define ${minimum}     (($type)${_minimum})
#define ${maximum}     (($type)${_maximum})
#define ${stepSize}        (($type)${stepSizeString})
  @#
@end def

@def openLoopAscending
  @#
#define ${name} ${arrayName}[${loopIndex} + ${localOffset}]
#define d${name} (${stepSize} * (${volumePrefactor}))

for (long ${loopIndex} = 0; ${loopIndex} < ${localLattice}; ${loopIndex}++) {
  @#
@end def

@def closeLoopAscending
  @#
}
#undef ${name}
#undef d${name}
  @#
@end def

@def openLoopDescending
  @#
#define ${name} ${arrayName}[${loopIndex} + ${localOffset}]
#define d${name} (${stepSize} * (${volumePrefactor}))

for (long ${loopIndex} = ${localLattice}-1; ${loopIndex} >= 0; ${loopIndex}--) {
  @#
@end def

@def closeLoopDescending
  @#
}
#undef ${name}
#undef d${name}
  @#
@end def

@def localIndexFromIndexForDimensionRep($dimRep)
  @if $dimRep.lattice == $lattice or $dimRep.reductionMethod == $ReductionMethod.fixedStep
${dimRep.loopIndex} + ${dimRep.localOffset} - ${localOffset}@slurp
  @elif $dimRep.reductionMethod == $ReductionMethod.fixedRange
    @# We are using a fixed-range reduction method.
    @#
    @# Check that our lattice is a multiple of the lattice on which we want the
    @# index. In other words, that for every dimensionRep point, there is a corresponding
    @# point in our lattice. We might be more dense though.
    @assert $lattice % dimRep.lattice == 0
    @#
(${dimRep.loopIndex} + ${dimRep.localOffset}) * (${globalLattice}/${dimRep.globalLattice}) - ${localOffset}@slurp
  @else
    @assert False
  @end if
  @#
@end def

@def strictlyAscendingGlobalIndex
  @#
  @if not $hasLocalOffset
    @return $loopIndex
  @else
lround((${name} - ${minimum})/${stepSize})@slurp
  @end if
  @#
@end def

@def indexForSinglePointSample
  @#
  @# Take the middle point, which is in the middle of the array
${globalLattice}/2@slurp
  @#
@end def

@def createCoordinateVariableForSinglePointSample
  @#
${type} ${name} = ${arrayName}[${globalLattice}/2];
  @#
@end def

@def initialiseArray
  @#
for (long ${loopIndex} = 0; ${loopIndex} < ${globalLattice}; ${loopIndex}++)
  ${arrayName}[${loopIndex}] = ${minimum} + ${loopIndex}*${stepSize};
  @#
@end def
