@*
Simulation.tmpl

Created by Graham Dennis on 2007-08-23.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@#
@# First check we have at least Cheetah version 2.0.1
@if __CHEETAH_versionTuple__ < (2, 0, 1, 'final', 0)
  @silent raise AssertionError("xpdeint requires at least Cheetah version "
                               "2.0.1. You currently have %s." % __CHEETAH_version__)
@end if
@#
@# Base simulation template
// ********************************************************
// simulation includes

#include <stdio.h>
#include <math.h>
#include <string>
#include <fstream>
#include <sstream>
#include <cstdlib>
#include <unistd.h>
#include <sys/time.h>
#include <time.h>
#include <stdint.h>
#include <list>
#include <vector>

@for $element in $scriptElements
  @# Prevent writing zero-length defines
  @set $result = $element.implementationsForFunctionName('includes')
  @if $result and not $result.isspace()
${result}@slurp

  @end if
@end for
#include <xmds_complex.h>
#include <xmds_config.h>

using namespace std;

// ********************************************************
// DEFINES
// ********************************************************
@# only loop over the elements that implement the defines function
@for $element in $scriptElements
  @# Prevent writing zero-length defines
  @set $result = $element.implementationsForFunctionName('defines')
  @if $result

// ********************************************************
//   $element.description defines
$result@slurp
  @end if
@end for


// ********************************************************
// GLOBALS
// ********************************************************
@# only loop over the elements that implement the globals function
@for $element in $scriptElements
  @# Prevent writing zero-length globals
  @set $result = $element.implementationsForFunctionName('globals')
  @if $result

// ********************************************************
//   $element.description globals
$result@slurp
  @end if
@end for


// ********************************************************
// FUNCTION PROTOTYPES
// ********************************************************
@# only loop over the elements that implement the prototypes function
@for $element in $scriptElements
  @# Prevent writing zero-length globals
  @set $result = $element.implementationsForFunctionName('functionPrototypes')
  @if $result

// ********************************************************
//   $element.description function prototypes
$result@slurp
  @end if
@end for


// ********************************************************
// FUNCTION IMPLEMENTATIONS
// ********************************************************
@# only loop over the elements that implement the prototypes function
@for $element in $scriptElements
  @# Prevent writing zero-length function implementations
  @set $result = $element.implementationsForFunctionName('functionImplementations')
  @if $result

// ********************************************************
//   $element.description function implementations
$result@slurp
  @end if
@end for


// ********************************************************
// MAIN ROUTINE
// ********************************************************
$features.Driver.mainRoutine@slurp
