@*
Simulation.tmpl

Created by Graham Dennis on 2007-08-23.
Copyright (c) 2007-2008 __MyCompanyName__. All rights reserved.
*@
@#
@extends xpdeint.ScriptElement
@#
@attr $name = ''
@attr $id = ''
@#
@# First check we have at least Cheetah version 2.0.1
@if __CHEETAH_versionTuple__ < (2, 0, 1, 'final', 0)
  @silent raise AssertionError("xpdeint requires at least Cheetah version "
                               "2.0.1. You currently have %s." % __CHEETAH_version__)
@end if
@#
@#
@# Base simulation template
// ********************************************************
// simulation includes

#include <xpdeint_platform.h>
#include <stdio.h>
#include <math.h>
#include <string.h>
#include <string>
#include <fstream>
#include <sstream>
#include <cstdlib>

#if CFG_OSAPI == CFG_OSAPI_POSIX // These are POSIX headers (i.e. non-windows)
  #include <sys/time.h>
#endif // POSIX

#include <time.h>
#include <list>
#include <vector>

@for $child in $children
  @# Prevent writing zero-length defines
  @set $result = $child.implementationsForFunctionName('includes')
  @if $result and not $result.isspace()
${result}@slurp

  @end if
@end for
#include <xpdeint.h>

using namespace std;

#if CFG_COMPILER == CFG_COMPILER_ICC
  //
  // Disable ICC's warning: label was declared but never referenced
  //
  #pragma warning ( disable : 177 )
#endif

// ********************************************************
// DEFINES
// ********************************************************
@# only loop over the elements that implement the defines function
@for $child in $children
  @# Prevent writing zero-length defines
  @set $result = $child.implementationsForFunctionName('defines')
  @if result and not result.isspace()

// ********************************************************
//   $child.description defines
$result@slurp
  @end if
@end for


// ********************************************************
// GLOBALS
// ********************************************************
@# only loop over the elements that implement the globals function
@for $child in $children
  @# Prevent writing zero-length globals
  @set $result = $child.implementationsForFunctionName('globals')
  @if result and not result.isspace()

// ********************************************************
//   $child.description globals
$result@slurp
  @end if
@end for


// ********************************************************
// FUNCTION PROTOTYPES
// ********************************************************
@# only loop over the elements that implement the prototypes function
@for $child in $children
  @# Prevent writing zero-length globals
  @set $result = $child.implementationsForFunctionName('functionPrototypes')
  @if result and not result.isspace()

// ********************************************************
//   $child.description function prototypes
$result@slurp
  @end if
@end for

// ********************************************************
// MAIN ROUTINE
// ********************************************************
$features.Driver.mainRoutine@slurp

// ********************************************************
// FUNCTION IMPLEMENTATIONS
// ********************************************************
@# only loop over the elements that implement the prototypes function
@for $child in $children
  @# Prevent writing zero-length function implementations
  @set $result = $child.implementationsForFunctionName('functionImplementations')
  @if result and not result.isspace()

// ********************************************************
//   $child.description function implementations
$result@slurp
  @end if
@end for

