@*
SimulationElement.tmpl

Created by Graham Dennis on 2007-08-23.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.ScriptElement

@*
  Description of template
*@
@def description: Simulation

@def defines
  @#
  @super
  @#
#define _EPSILON 1e-6
#ifndef INFINITY
#define INFINITY HUGE_VAL
#endif

// Define an isfinite that should work on systems that don't have isfinite
#ifndef isfinite
#define isfinite(x) ((x) - (x) == 0)
#endif

#ifndef MAX
#define MAX(a, b) \
  ({ typeof(a) _a = (a); \
     typeof(b) _b = (b); \
     _a > _b ? _a : _b; })
#endif

#ifndef MIN
#define MIN(a, b) \
   ({ typeof(a) _a = (a); \
      typeof(b) _b = (b); \
      _a < _b ? _a : _b; })
#endif

  @#
@end def

@*
  Globals needed at the start of the simulation
*@
@def globals
  @#
  @super
  @#
double ${propagationDimension};

// This stuff is here because libxmds requires it.
// That is because we need the XML parser in order to be able
// to load XSIL files to initialise fields
bool debugFlag = false;
bool xmlDebugFlag =  false;
  @#
@end def

