@*
NoiseVector.tmpl

Created by Joe Hope on 2009-08-17.
Copyright (c) 2009 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Vectors._NoiseVector

@*
  Description of template
*@
@def description: noise vector $name

@def evaluateFunctionContents($function)
@*doc:
  This function returns the code for the calculated vector's ``evaluate()`` function.
  
  The ``evaluate()`` function executes the code that defines the calculated vector.
*@
  @# For distributed MPI drivers, we may need to share the noise if it is defined on a field
  @#  that is not distributed.
    @set $featureOrdering = ['Driver']
    @set $featureDict = {'field': self.field, 'basis': self.initialBasis, 'extraIndent': 0}
${insertCodeForFeatures('generateNoisesBegin', featureOrdering, featureDict)}@slurp
    @set $extraIndent = featureDict['extraIndent']
  @#
const ptrdiff_t _vector_size = ${self.sizeInBasisInReals(self.initialBasis)};
${randomVariable.makeNoises}@slurp
  @#
${insertCodeForFeatures('generateNoisesEnd', featureOrdering, featureDict)}@slurp
  @#
  @if $needsTransforms
_${id}_basis = $basisIndexForBasis(self.initialBasis);
  @end if
  @#
@end def
