@*
VectorInitialisationFromCDATA.tmpl

Created by Graham Dennis on 2007-08-29.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Vectors.VectorInitialisation

@*
  Description of initialisation method
*@
@def description: Vector initialisation from CDATA


@*
  Initialise a vector
*@
@def initialiseVector
  @#
  @set $featureOrdering = ['Stochastic']
  @set $featureDict = {'field': $vector.field, 'space': $vector.initialSpace}
  @#
  @set $vectorsToLoopOver = set([$vector])
  @silent $vectorsToLoopOver.update($dependencies)
$insertCodeForFeatures('vectorInitialisationBegin', $featureOrdering, featureDict)@slurp
$loopOverFieldInSpaceWithVectorsAndInnerContent($vector.field, $vector.initialSpace, $vectorsToLoopOver, $insideInitialisationLoops)@slurp
$insertCodeForFeaturesInReverseOrder('vectorInitialisationEnd', $featureOrdering, featureDict)@slurp
  @#
@end def

@def insideInitialisationLoops

// ********** Initialisation code ***************
${initialisationCode, fixupWhitespace=True}
// **********************************************

@end def