@*
VectorInitialisationFromCDATA.tmpl

Created by Graham Dennis on 2007-08-29.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Vectors.VectorInitialisation

@*
  Description of initialisation method
*@
@def description: Vector initialisation from CDATA


@*
  Initialise a vector
*@
@def initialiseVector
  @#
  @set $featureOrdering = ['Stochastic']
  @set $featureDict = {'codeBlock': $codeBlocks['initialisation']}
  @#
$insertCodeForFeatures('vectorInitialisationBegin', $featureOrdering, featureDict)@slurp
$codeBlocks['initialisation'].loop(self.insideInitialisationLoops)@slurp
$insertCodeForFeaturesInReverseOrder('vectorInitialisationEnd', $featureOrdering, featureDict)@slurp
  @#
@end def

@def insideInitialisationLoops($codeString)

// ********** Initialisation code ***************
${codeString}@slurp
// **********************************************

@end def
