@*
FilterOperator.tmpl

Filter (moment) operator

Created by Graham Dennis on 2007-10-21.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Operators._FilterOperator

@def description: Filter operator

@def insideEvaluateOperatorLoops
  @#
// ************** Filter code *****************
${operatorDefinitionCode}
// **********************************************
  @#
@end def
