@*
FilterOperator.tmpl

Filter (moment) operator

Created by Graham Dennis on 2007-10-21.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends _FilterOperator

@def description: Filter operator
@attr $evaluateOperatorFunctionArgument = 'double _step'

@def insideEvaluateOperatorLoops
  @#
// ************** Filter code *****************
${operatorDefinitionCode}
// **********************************************
  @#
@end def
