@*
UniformDSFMTNoise.tmpl

Created by Graham Dennis on 2008-03-05.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Features.Noises.DSFMT.DSFMTNoise

@def description: dSFMT Uniform noise
@attr $noiseDistribution = 'uniform'

@*
  Make noises
*@
@def makeNoises
  @#
if (!(_n & 0x1) && _n > dsfmt_get_min_array_size())
  dsfmt_fill_array_open_open(${generatorName}, _noise_vector, _n);
else {
  for (long _i0 = 0; _i0 < _n; _i0++) {
    _noise_vector[_i0] = dsfmt_genrand_open_open(${generatorName});
  }
}
  @#
@end def
