@*
GaussianMKLRandomVariable.tmpl

Created by Joe Hope on 2009-08-22.
Copyright (c) 2009 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Stochastic.RandomVariables.GaussianRandomVariable

@def makeFixedVarianceNoises
@*doc:
  Return the code for the contents of the makeNoises function for
  a gaussian noise generated with the MKL generator
*@
  @set noiseVector = $parent
vdRngGaussian(VSL_METHOD_DGAUSSIAN_BOXMULLER2, ${generator.generatorName}, _vector_size, reinterpret_cast<real*>(_active_${noiseVector.id}), 0.0, sqrt(_var));
  @#
@end def
