@*
UniformRandomVariable.tmpl

Created by Joe Hope on 2009-08-22.

Copyright (c) 2009-2012, Joe Hope

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*@
@extends xpdeint.ScriptElement

@def makeNoises
@*doc:
  Return the code for the contents of the makeNoises function for
  a uniform random variable.  
  Essentially, this is generator specific code, hence the lack of anything here.
*@
  @#
${generator.constructArrayUniformRandomNumbers}@slurp
  @#
@end def
