@*
SimulationDriver.tmpl

Created by Graham Dennis on 2008-02-27.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.SimulationDrivers._SimulationDriver

@def description: Unnamed Simulation Driver


@def functionImplementations
  @#
  @slurp
  @#
${topLevelSegmentFunctionImplementation}@slurp

  @#
@end def

@def topLevelSegmentFunctionImplementation
  @#
  @# A subclass must implement this function
  @assert False
  @#
@end def


@def mainRoutine
  @#
int main(int argc, char **argv)
{
  @for $field in $fields
  ${field.allocate, autoIndent=True}@slurp
    @if $field.isOutputField
  ${field.initialise, autoIndent=True}@slurp
    @end if
  @end for
  
  ${mainRoutineInnerContent, autoIndent=True}@slurp
  
  return 0;
}
  @#
@end def

@def mainRoutineInnerContent
  @#
  @*
    And now insert the code for the features that apply in the main function
  *@
  @# Note that 'Bing', and 'Arguments' commute
  @set $featureOrdering = ['Bing', 'Arguments', 'Validation', 'FourierTransform', 'Benchmark', 'Output']
${insertCodeForFeatures('mainBegin', $featureOrdering)}@slurp

@# This needs to be extracted into a function so that it can be indented further if necessary
/* Code that actually does stuff goes here */
_segment0();

${insertCodeForFeaturesInReverseOrder('mainEnd', $featureOrdering)}@slurp
  @#
  @for $field in $fields
${field.free}@slurp
  @end for

  @#
@end def
