@*
AutoVectorise.tmpl

Created by Graham Dennis on 2008-02-07.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Features._AutoVectorise

@def description: Auto-vectorisation
@attr $featureName = 'AutoVectorise'
@attr $uselib = ['vectorise']

@def defines
  @#
  @super
  @#

#define _MAKE_AUTOVEC_VARIABLE(x) real* const __restrict__ x ## _autovec = (real*) x
#define _AUTOVEC(x) (x ## _autovec)
  @#
@end def
