@*
Bing.tmpl

Created by Graham Dennis on 2007-08-26.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Features._Feature

@def description: bing
@attr featureName = 'Bing'

@def mainEnd($dict)

// Bing!
_LOG(_SIMULATION_LOG_LEVEL, "\a");
@end def