@*
Globals.tmpl

Created by Graham Dennis on 2008-01-03.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Features._Feature

@def description: 'Globals' element
@attr featureName = 'Globals'

@def globals
  @#
  @super
  @#
$globalsCode
  @#
@end def