@*
HaltNonFinite.tmpl

Created by Graham Dennis on 2008-05-04.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
Based on code originally written by Gabriel McManus
*@
@extends xpdeint.Features._Feature

@def description: Halt simulation on non-finite results
@attr featureName = 'HaltNonFinite'
@attr uselib = ['safe_math']

@def postSingleStep($dict)
  @#
  @set $integrator = dict['caller']
// Check if a component of any integration vector is non-finite
// no need to check all components since they will be quickly mixed
  @#
if (@slurp
  @set $separator = ''
  @for integrationVector in integrator.integrationVectors
    @set $suffix = ''
    @if integrationVector.type == 'complex'
      @# Check the real component
      @set $suffix = '.real()'
    @end if
${separator}!isfinite(_active_${integrationVector.id}[0]${suffix})@slurp
    @set $separator = ' || '
  @end for
) {
  // One of the integration vectors has gone non-finite.
  // Sample any moment groups that have pending samples,
  // then leave the integrator.
  _LOG(_WARNING_LOG_LEVEL, "WARNING: halt_non_finite: Integration halted at ${integrator.propagationDimension} = %e.\n"
                           "         Non-finite number in integration vector in segment ${integrator.segmentNumber}.\n", $propagationDimension);
  
  ${integrator.earlyTerminationCode, autoIndent=True}@slurp
}
  @#
@end def
