@*
GaussianPOSIXNoise.tmpl

Created by Graham Dennis on 2007-12-11.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Features.Noises.POSIX._GaussianPOSIXNoise

@def description: Gaussian noise
@attr $noiseDistribution = 'gaussian'

@def minusOneToOneRandomNumber($gen): 2.0*erand48(${gen}) - 1.0
