@*
PoissonianPOSIXNoise.tmpl

Created by Graham Dennis on 2007-12-14.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends _PoissonianPOSIXNoise

@def description: Poissonian noise
@attr $noiseDistribution = 'poissonian'

@def zeroToOneRandomNumber($gen): erand48(${gen})

