@*
FilterSegment.tmpl

Created by Graham Dennis on 2008-03-13.

Copyright (c) 2008-2012, Graham Dennis

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*@
@extends xpdeint.Segments._FilterSegment
@from xpdeint.CallOnceGuards import callOncePerInstanceGuard

@*
  Description of template
*@
@def description: segment $segmentNumber (Filter)

@*
  Function implementations
*@
@def segmentFunctionBody($function)
@if $onlyWhenCalled
// This filter is only activated when called explicitly
@else
${evaluateComputedVectors($dynamicVectorsNeedingPrecalculationForOperatorContainers($operatorContainers))}@slurp
  @#
  @for $operatorContainer in $operatorContainers

${operatorContainer.evaluateOperators(parentFunction = function)}@slurp
  @end for
  @#
@end if
@end def

