@*
FilterSegment.tmpl

Created by Graham Dennis on 2008-03-13.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Segments._FilterSegment
@from xpdeint.CallOnceGuards import callOncePerInstanceGuard

@*
  Description of template
*@
@def description: segment $segmentNumber (Filter)

@*
  Function implementations
*@
@def segmentFunctionBody($function)
${evaluateComputedVectors($dynamicVectorsNeedingPrecalculationForOperatorContainers($operatorContainers))}@slurp
  @#
  @for $operatorContainer in $operatorContainers

${operatorContainer.evaluateOperators(parentFunction = function)}@slurp
  @end for
  @#
@end def

