@*
TopLevelSequenceElement.tmpl

Created by Graham Dennis on 2007-08-27.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Segments.SequenceSegment

@assert $segmentNumber == 0
@attr $globalNameSpaceName = "topLevelSequence"

@*
  Description of template
*@
@def description: segment $segmentNumber (Top level sequence)

@def functionImplementations
  @#
  @# Make this empty as the content of the top-level sequence will be written by
  @# a simulation driver
  @#
@end def

@def topLevelSequenceInnerContent
  @#
$propagationDimension = 0.0;
  @#
  @for $field in $fields
    @set $result = $field.initialise
    @if $result

${result}@slurp
    @end if
  @end for
  @#
  @for $momentGroup in $momentGroups
    @# We only need to set the sample index for the propagation dimension
    @# and only if this moment group has the propagation dimension as one
    @# of its dimensions
    @if not $momentGroup.outputField.hasDimensionName($propagationDimension)
      @continue
    @end if
_${momentGroup.outputField.id}_index_${propagationDimension} = 0;
  @end for
  @#
  @for $momentGroup in $filter(lambda x: x.requiresInitialSample, $momentGroups)
_mg${momentGroup.number}_sample();
  @end for
  @#
${segmentFunctionBody(function=None)}@slurp
  @#

  @for $momentGroup in $momentGroups
_mg${momentGroup.number}_process();
  @end for  
  @#
@end def
