@*
POSIXGenerator.tmpl

Created by Joe Hope on 2009-08-20.
Copyright (c) 2009 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.ScriptElement

@import random

@def description: Generic POSIX noise
@def generatorType: unsigned short*

@*
  Globals
*@
@def globals
  @#
unsigned short ${generatorName}[3];
  @#
@end def

@def minusOneToOneRandomNumber: 2.0*erand48($generatorName) - 1.0

@def zeroToOneRandomNumber($gen): erand48(${gen})

@def constructArrayUniformRandomNumbers
  @set noiseVector = $parent.parent
for (long _i0 = 0; _i0 < ${noiseVector.sizeInBasisInReals(noiseVector.initialBasis)}; _i0++) {
  _active_${noiseVector.id}[_i0] = erand48(${generatorName});
}
@end def

@*
  Initialise seeds
*@
@def initialiseSeeds
  @#
  @set $featureOrdering = ['Driver']
  @silent seedOffset = $insertCodeForFeatures('seedOffset', $featureOrdering)
  @#
  @if len($seedArray)
    @for $i in range(3)
      @if $i < len($seedArray)
${generatorName}[$i] = ${seedArray[$i]}${seedOffset};
      @else
${generatorName}[$i] = 0${seedOffset};
      @end if
    @end for
erand48(${generatorName});
  @else
    @set self.generatedSeeds = [random.randrange(0, pow(2, 16)) for i in range(3)]
    @for $i in range(3)
${generatorName}[$i] = ${generatedSeeds[$i]}${seedOffset};
    @end for
  @end if
  @#
@end def
