@*
FixedStepWithCross.tmpl

Created by Graham Dennis on 2008-11-12.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Segments.Integrators._FixedStepWithCross

@def leftRightDeltaAFunctionBody($function, $replacementOperatorContainer)
  @#
  @# First evaluate any computed vector that any of our operators may depend on
${evaluateComputedVectors($computedVectorsNeedingPrecalculationForOperatorContainers($intraStepOperatorContainers))}@slurp
  @#
  @# Then loop over operators that come before the delta A operators in the order in which
  @# they appear in the xmds script.
  @#
  @for $operatorContainer in $intraStepOperatorContainers

${operatorContainer.evaluatePreDeltaAOperators(parentFunction = function)}@slurp
  @end for
  @#
  @# Now loop over delta A operators
  @# See the comment in _Integrator about why this needs to be done in
  @# this particular order
  @for $operatorContainer in $intraStepOperatorContainersInFieldDescendingOrder
    @# Blank line for formatting

    @if not operatorContainer == $operatorContainerToOverride
${operatorContainer.evaluateDeltaAOperator(parentFunction = function)}@slurp
    @else
${replacementOperatorContainer.evaluateDeltaAOperator(parentFunction = function)}@slurp
    @end if
  @end for
  @#
  @# Lastly, loop over the operators that come after the delta a operators in the order in
  @# which they appear in the xmds script.
  @#
  @for $operatorContainer in $intraStepOperatorContainers
    @# Blank line for formatting

${operatorContainer.evaluatePostDeltaAOperators(parentFunction = function)}@slurp
  @end for
  @#

  @set $integrationVectorsNeedingUpdating = $integrationVectors
  @silent integrationVectorsNeedingUpdating.difference_update(replacementOperatorContainer.deltaAOperator.integrationVectors)
${transformVectorsToSpace($integrationVectorsNeedingUpdating, $homeSpace), autoIndent=True}@slurp

${loopOverVectorsWithInnerContentTemplate($integrationVectorsNeedingUpdating,
c"""// a = oldcopy + a
_\${vector.id}[\$index] += _${name}_oldcopy_\${vector.id}[\$index];
""")}@slurp
  @#
@end def

