@*
FourierTransformFFTW3Threads.tmpl

Created by Graham Dennis on 2007-12-23.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Features.Transforms.FourierTransformFFTW3

@def description: FFTW3 with threads
@attr $fftwSuffix = 'threads'

@# defines
@def defines
  @#
  @super
#define _num_threads ${threadCount}
  @#
@end def

@def mainBegin($dict)
  @#
${fftwPrefix}_init_threads();
${fftwPrefix}_plan_with_nthreads(_num_threads);
  @super($dict)
  @#
@end def

@def mainEnd($dict)
  @super($dict)
${fftwPrefix}_cleanup_threads();
@end def