@*
FourierTransformFFTW3Threads.tmpl

Created by Graham Dennis on 2007-12-23.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends xpdeint.Features.Transforms.FourierTransformFFTW3

@def description: FFTW3 with threads
@attr $wisdomExtension = '.fftw3_threads'


@def cflags
@*doc:
Return the options that need to be added to ``CFLAG``.
*@
  @super
  @#
 -lfftw3_threads@slurp
  @#
@end def


@# defines
@def defines
  @#
  @super
#define _num_threads ${threadCount}
  @#
@end def

@def mainBegin($dict)
  @#
fftw_init_threads();
fftw_plan_with_nthreads(_num_threads);
  @super($dict)
  @#
@end def

@def mainEnd($dict)
  @super($dict)
fftw_cleanup_threads();
@end def