@*
ArgvFeature.tmpl

Created by Mattias Johnsson on 2008-02-21.
Copyright (c) 2008 Mattias Johnsson. All rights reserved.
*@
@extends _Feature

@def description: argv
@attr featureName = 'Argv'

@def includes
#include <getopt.h>
@end def

@def globals
// *********** Command line argument global variables *********
  @for $argument in $argList
$argument.type $argument.name = $argument.defaultValue; 
  @end for
@end def

@def mainBegin($dict)
// *********** Parse the command line for arguments, and set  *********
// *********** the appropriate global variables               *********
int resp;
while (1) {
  static struct option long_options[] = 
    {
      {"help", no_argument, 0, 'h'},
  @for $argument in $argList
      {"$argument.name", required_argument, 0, '$argument.shortName'},
  @end for
    };
  
  int option_index = 0;
  
  resp = getopt_long(argc, argv, "h@slurp
  @for $argument in $argList
$argument.shortName:@slurp
  @end for
", long_options, &option_index);
  
  if (resp == -1) {
    break;
  }
  switch (resp) {
    case 'h':
      printf("Usage: $simulationName @slurp
  @for $argument in $argList
-$argument.shortName < $argument.type > @slurp
  @end for
\n\n");
      printf("Details:\n");
      printf("Option\t\tType\t\tDefault value\n");
  @for $argument in $argList
      printf("-$argument.shortName, --$argument.name\tdouble \t\t$argument.defaultValue \n");
  @end for
      exit(0);
  @for $argument in $argList
      
    case '$argument.shortName':
      $argument.name = atof(optarg);
      break;
  @end for
      
    default:
      exit(10);
    }
  }
  
  if (optind < argc) {
    printf("Usage: $simulationName @slurp
      @for $argument in $argList
-$argument.shortName < $argument.type > @slurp
      @end for
\n\n");
    printf("Details:\n");
    printf("Option\t\tType\t\tDefault value\n");
  @for $argument in $argList
    printf("-$argument.shortName, --$argument.name\tdouble \t\t$argument.defaultValue \n");
  @end for
    exit(0);
  }
@end def
