#*
DefaultDriver.tmpl

Created by Graham Dennis on 2008-02-02.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*#
#extends _SimulationDriver

#def functionImplementations
  ##
void _segment0()
{
  ##
  ## And now insert the code for the features that apply in the top level sequence
  #set $featureOrdering = ['ErrorCheck', 'Stochastic']
  #set $dict = {'extraIndent': 0}
  ${insertCodeForFeatures('topLevelSequenceBegin', featureOrdering, dict), autoIndent=True}#slurp
  #set $extraIndent = dict['extraIndent']

  ${topLevelSequenceInnerContent, autoIndent=True, extraIndent=extraIndent}#slurp
  ##
  ${insertCodeForFeaturesInReverseOrder('topLevelSequenceEnd', featureOrdering, dict), autoIndent=True}#slurp
}
  ##
#end def

