@*
FieldElement.tmpl

Created by Graham Dennis on 2007-08-28.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends _FieldElement
@*

  Description of template
*@
@def description: field $name

@*

  Defines needed at the start of the simulation
*@
@def defines
  @#
  @super
  @#
#define _${name}_ndims $len($dimensions)
  @for $dimensionNumber, $dimension in enumerate($dimensions)

#define _${name}_lattice_${dimension.name}  $dimension.lattice
#define _${name}_min_${dimension.name}  (($dimension.type)$dimension.minimum)
#define _${name}_max_${dimension.name}  (($dimension.type)$dimension.maximum)
    @if $dimension.type == 'double'
#define _${name}_d${dimension.name}  (($dimension.maximum - $dimension.minimum)/(${dimension.type})_${name}_lattice_${dimension.name})
#define _${name}_dk${dimension.name} (2.0*M_PI/($dimension.maximum - $dimension.minimum))
#define _${name}_min_k${dimension.name} (-(_${name}_lattice_${dimension.name}/2) * _${name}_dk${dimension.name})
#define _${name}_max_k${dimension.name} ((_${name}_lattice_${dimension.name} - 1)/2) * _${name}_dk${dimension.name}
    @else
#define _${name}_d${dimension.name}  1
    @end if
  @end for
#define _${name}_full_kspace_mask  ${spaceMask} // @slurp
  @set $separator = ''
  @for $dimension in $geometry.dimensions
${separator}${dimension.name}: ${($spaceMask >> $geometry.dimensions.index($dimension)) & 1}@slurp
    @set $separator = ', '
  @end for
  
  @# Child defines will go here
@end def

@*
  Globals needed at the start of the simulation
*@
@def globals
  @#
  @super
  @#
const long _${name}_size = $pointsInDimensionsWithIndices($range($len($dimensions)));
  @# Child globals will go here
@end def

