@*
FourierTransformNone.tmpl

Created by Graham Dennis on 2008-02-09.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*@
@extends FourierTransform

@def description: No fourier transforms available

@# includes needed for no fourier transform
@def includes
  @#
  @super
  @#
typedef struct {
  double re;
  double im;
} fftw_complex;
@end def

@# defines
@def defines
  @#
#define xmds_malloc malloc
#define xmds_free   free
  @#
@end def

