#*
GeometryElement.tmpl

Created by Graham Dennis on 2007-08-28.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*#
#extends _FieldElement
#*

  Description of template
*#
#def description: geometry
#attr $name = "geometry"
#attr $globalNameSpaceName = "geometry"

#*
  Globals needed at the start of the simulation
*#
## #def globals
## #end def

#*
  Function prototypes
*#
## #def functionPrototypes
## #end def

#*
  Function implementations
*#
## #def functionImplementations
## #end def
