@*
PoissonianDSFMTNoise.tmpl

Created by Graham Dennis on 2008-03-06.
Copyright (c) 2008 __MyCompanyName__. All rights reserved.
*@
@extends _PoissonianDSFMTNoise

@def description: dSFMT Poissonian noise
@attr $noiseDistribution = 'poissonian'

@def zeroToOneRandomNumber($gen): dsfmt_genrand_open_open(${gen})

