#*
RK4Integrator.tmpl

Created by Graham Dennis on 2007-09-23.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*#
#extends FixedStepIntegrator

#def description: segment $segmentNumber (RK4 Integrator)
#attr $ipPropagationStepFractions = ['0.5']
#attr $extraIntegrationArrayNames = ['akfield', 'aifield']

#*
  Single integration step (RK4)
*#
#def singleIntegrationStep
  ##
${transformVectorsToSpace($vectors, $homeSpace)}#slurp

${loopOverVectorsWithInnerContentTemplate($vectors,
"""// a_k = a
_akfield_${vector.id}[$index] = _${vector.id}[$index];
""")}#slurp

// a = D[a]
_segment${segmentNumber}_ip_evolve(+1);
${goFromKSpace}#slurp

${loopOverVectorsWithInnerContentTemplate($vectors,
"""// a_i = a
_aifield_${vector.id}[$index] = _${vector.id}[$index];
""")}#slurp

  #for $vector in $vectors
_active_${vector.id} = _akfield_${vector.id};
  #end for
  
// a_k = G[a_k, t]
_segment${segmentNumber}_calculate_delta_a(_step);

// a_k = D[a_k]
_segment${segmentNumber}_ip_evolve(+1);
${goFromKSpace}#slurp

${loopOverVectorsWithInnerContentTemplate($vectors, 
"""// a = a + a_k/6
_${vector.id}[$index] += _akfield_${vector.id}[$index]/6.0;
// a_k = a_i + a_k/2
_akfield_${vector.id}[$index] = _aifield_${vector.id}[$index] + _akfield_${vector.id}[$index]/2.0;
""")}#slurp

${propagationDimension} += _step/2.0;

// a_k = G[a_k, t + h/2]
_segment${segmentNumber}_calculate_delta_a(_step);
${goFromXSpace}#slurp

${loopOverVectorsWithInnerContentTemplate($vectors,
"""// a = a + a_k/3
_${vector.id}[$index] += _akfield_${vector.id}[$index]/3.0;
// a_k = a_i + a_k/2
_akfield_${vector.id}[$index] = _aifield_${vector.id}[$index] + _akfield_${vector.id}[$index]/2.0;
""")}#slurp

// a_k = G[a_k, t + h/2]
_segment${segmentNumber}_calculate_delta_a(_step);
${goFromXSpace}#slurp

${loopOverVectorsWithInnerContentTemplate($vectors,
"""// a = a + a_k/3
_${vector.id}[$index] += _akfield_${vector.id}[$index]/3.0;
// a_k = a_i + a_k
_akfield_${vector.id}[$index] = _aifield_${vector.id}[$index] + _akfield_${vector.id}[$index];
""")}#slurp

// a_k = D[a_k]
_segment${segmentNumber}_ip_evolve(+1);

${propagationDimension} += _step/2.0;

// a_k = G[a_k, t + h]
_segment${segmentNumber}_calculate_delta_a(_step);
${goFromXSpace}#slurp

  #for $vector in $vectors
_active_${vector.id} = _${vector.id};
  #end for

// a_k = D[a_k]
_segment${segmentNumber}_ip_evolve(+1);
${goFromKSpace}#slurp

${loopOverVectorsWithInnerContentTemplate($vectors, 
"""// a = a + a_k/6
_${vector.id}[$index] += _akfield_${vector.id}[$index]/6.0;
""")}#slurp
  ##
#end def
