@*
SimulationElement.tmpl

Created by Graham Dennis on 2007-08-23.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*@
@extends ScriptElement

@*
  Description of template
*@
@def description: Simulation
@attr $globalNameSpaceName = "simulation"

@def defines
  @#
  @super
  @#
#define _EPSILON 1e-6

#define _SAMPLE_LOG_LEVEL      (1 << 0)
#define _SEGMENT_LOG_LEVEL     (1 << 1)
#define _PATH_LOG_LEVEL        (1 << 2)
#define _SIMULATION_LOG_LEVEL  (1 << 3)
#define _WARNING_LOG_LEVEL     (1 << 4)
#define _ERROR_LOG_LEVEL       (1 << 5)
#define _ALL_LOG_LEVELS        _SAMPLE_LOG_LEVEL|_SEGMENT_LOG_LEVEL|_PATH_LOG_LEVEL|_SIMULATION_LOG_LEVEL|_WARNING_LOG_LEVEL|_ERROR_LOG_LEVEL
#define _LOG_LEVELS_BEING_LOGGED (${features['Driver'].logLevelsBeingLogged})

  @set $featureOrdering = ['Driver']
#define _LOG(logLevel, ...) \
  if (logLevel & _LOG_LEVELS_BEING_LOGGED) { \
  @set $dict = {'extraIndent': 0}
    ${insertCodeForFeatures('logFunctionBegin', $featureOrdering, $dict), autoIndent=True}@slurp
  @set $extraIndent = dict['extraIndent']
    ${logFunctionInnerContent, extraIndent=extraIndent}@slurp
    ${insertCodeForFeaturesInReverseOrder('logFunctionEnd', $featureOrdering, $dict), autoIndent=True}@slurp
    fflush(stdout); \
  }
  @#
@end def

@def logFunctionInnerContent
  @#
printf(__VA_ARGS__); \
  @#
@end def

@*
  Globals needed at the start of the simulation
*@
@def globals
  @#
  @super
  @#
double ${propagationDimension};

// This stuff is here because libxmds requires it.
// That is because we need the XML parser in order to be able
// to load XSIL files to initialise fields
bool debugFlag = false;
bool xmlDebugFlag =  false;
  @#
@end def

