#*
SlowGaussianPOSIXNoise.tmpl

Created by Graham Dennis on 2007-12-11.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*#
#extends POSIXNoise

#def description: (Slow) Gaussian noise
#attr $noiseDistribution = 'gaussian'

#*
  Make noises
*#
#def makeNoises
  ##
const unsigned long _evenNoises = _n & ~1;
for (long _i0 = 0; _i0 < _evenNoises; _i0 += 2) {
  const double _mag = sqrt(-2*log(erand48(${generatorName}))*_var);
  const double _arg = 2*M_PI*erand48(${generatorName});
  _noise_vector[_i0 + 0] = _mag*cos(_arg);
  _noise_vector[_i0 + 1] = _mag*sin(_arg);
}

// If _n is odd, we need to generate the last random number
if (_n & 1) {
  static double _spareNoise = 0.0;
  static bool _spareNoiseAvailable = false;
  
  if (_spareNoiseAvailable) {
    _noise_vector[_n - 1] = _spareNoise;
    _spareNoiseAvailable = false;
  } else {
    const double _mag = sqrt(-2*log(erand48(${generatorName}))*_var);
    const double _arg = 2*M_PI*erand48(${generatorName});
    _noise_vector[_n - 1] = _mag*cos(_arg);
    _spareNoise = _mag*sin(_arg);
  
    _spareNoiseAvailable = true;
  }
}
  ##
#end def
