#*
UniformPOSIXNoise.tmpl

Created by Graham Dennis on 2007-12-11.
Copyright (c) 2007 __MyCompanyName__. All rights reserved.
*#
#extends POSIXNoise

#def description: Uniform noise
#attr $noiseDistribution = 'uniform'

#*
  Make noises
*#
#def makeNoises
  ##
for (long _i0 = 0; _i0 < _n; _i0++) {
  _noise_vector[_i0] = erand48(${generatorName});
}
  ##
#end def
